.vnc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .vnc-card {
    height: 450px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .12);

    &__controls {
      width: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #3d444c;

      .control {
        width: 100%;
        line-height: 80px;
        background-color: #59a781;
        text-align: center;
        text-decoration: none;
        color: #fff;
      }
    }

    &__content {
      width: 90%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #000;

      .header {
        height: 80px;
        color: #fff;
        border-bottom: 1px dashed #3d444c;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .screen {
        height: 80%;
        display: flex;
        justify-content: center;
      }
    }
  }

  .vnc-browser {
    line-height: 40px;
    display: inline-flex;

    &__name {
      text-transform: uppercase;
      font-weight: 200;
    }

    &__version-separator {
      margin-right: 3px;
      margin-left: 3px;
      font-size: 1.5em;
      color: #3d444c;
    }

    &__version {
      font-size: 0.8em;
    }

    &__quota {
      font-size: 0.8em;
      color: #999;
    }
  }

  .vnc-resolution, .vnc-session {
    line-height: 40px;
    font-size: 0.8em;
    color: #999;
  }
}
