.vnc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;


  .vnc-card {
    height: 450px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .12);

    &_fullscreen {
      height: 100%;
      width: 100%;
      z-index: 2;
    }

    &__controls {
      width: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #3d444c;

      .control {
        width: 100%;
        line-height: 70px;
        padding-top: 10px;
        font-size: 2em;
        background-color: #59a781;
        text-align: center;
        text-decoration: none;
        color: #fff;

        &_fullscreen {
          cursor: pointer;
          background-color: #5aa791;
        }

        &_disconnected {
          background-color: #ff6e59;
        }

        &_connecting {
          background-color: #6883d3;
        }

        &_connected {
          display: none;
        }

        &_disconnecting {
          background-color: #ca9eff;
        }
      }
    }

    &__content {
      width: calc(100% - 80px);
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: #000;

      .vnc-info {
        height: 80px;
        color: #fff;
        border-bottom: 1px dashed #3d444c;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .vnc-screen {
        height: calc(100% - 80px);
      }
    }
  }

  .vnc-browser {
    line-height: 40px;
    display: inline-flex;

    &__name {
      text-transform: uppercase;
      font-weight: 200;
    }

    &__version-separator {
      margin-right: 3px;
      margin-left: 3px;
      font-size: 1.5em;
      color: #3d444c;
    }

    &__version {
      font-size: 0.8em;
    }

    &__quota {
      font-size: 0.8em;
      color: #999;
    }
  }

  .vnc-resolution, .vnc-session {
    line-height: 40px;
    font-size: 0.8em;
    color: #999;
  }
}
