$color-disconnected: #ff6e59;
$color-connecting: #6883d3;
$color-disconnecting: #ca9eff;
$color-fullscreen: #555f6a;
$color-base-control: #59a781;
$background-color-lighter: #3d444c;

.vnc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &_fullscreen {
    position: absolute;
    height: 110%;
    width: 100%;
    z-index: 2;
    top: 0;
  }

  .vnc-connection-status {
    color: #fff;
    text-transform: uppercase;
    margin-left: 55px;
    transition: color 0.5s ease-out 0s;
    line-height: 20px;

    &:before {
      content: '';
      display: block;
      width: 35px;
      margin-left: -45px;
      border-bottom: 1px solid #fff;
      position: relative;
      top: 11px;
    }

    &_disconnected {
      color: $color-disconnected;
      &:before {
        border-bottom-color: $color-disconnected;
      }
    }

    &_connecting {
      color: $color-connecting;
      &:before {
        border-bottom-color: $color-connecting;
      }
    }
  }

  .vnc-card {
    height: 450px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .12);

    &_fullscreen {
      height: 100%;
      width: 100%;
      z-index: 2;
    }

    &_small {
      height: 160px;
      width: 80px;
    }

    &__controls {
      width: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $background-color-lighter;

      .control {
        width: 100%;
        line-height: 70px;
        padding-top: 10px;
        font-size: 2em;
        background-color: $color-base-control;
        text-align: center;
        text-decoration: none;
        color: #fff;
        transition: background-color 0.5s ease-out 0s;

        &_fullscreen {
          cursor: pointer;
          background-color: $color-fullscreen;
          color: #ccc;
        }

        &_disconnected {
          background-color: $color-disconnected;
        }

        &_connecting {
          background-color: $color-connecting;
        }

        &_connected {
          display: none;
        }

        &_disconnecting {
          background-color: $color-disconnecting;
        }
      }
    }

    &__content {
      width: calc(100% - 80px);
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: #000;

      .vnc-screen {
        height: 100%;
      }
    }
  }
}
