$color-accent: #59a781;

.log-list {
  display: flex;
  flex-wrap: wrap;

  &__no-any {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
  }

  .nolog-any-text {
    margin: 5px;
  }


  .log-session-link {
    display: flex;
    line-height: 60px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .12);
    margin: 5px;

    &__browser {
      background-color: #222;
      padding-left: 20px;
      padding-right: 20px;
      text-transform: uppercase;
      font-weight: 200;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 20px;

      &_secondary {
        font-weight: 100;
        text-transform: lowercase;
        font-size: 0.6em;
        color: #999;
      }
    }

    &__version {
      background-color: $color-accent;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
