.status {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 50px;

  &_ok {
    box-shadow: 0 0 10px #57ff76;
    border-color: #59a781;
  }

  &_error {
    box-shadow: 0 0 10px #fc4022;
    border-color: #cf3223;
  }
}
