.browsers {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 150px;
}

.browser {
  width: 100%;
  overflow: hidden;
  display: inline-flex;
  line-height: 30px;
  position: relative;
}

.browser-stats {
  display: flex;

  &__name {
    overflow: hidden;
    letter-spacing: 1px;
  }

  &__count {
    font-size: 2em;
    width: 80px;
  }

  &__percent {
    font-size: 0.8em;
    line-height: 20px;
    width: 30px;
    padding-left: 5px;
  }
}

.browser-usage-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 1px dashed;
}
