.nav {
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
  font-size: 1.0em;

  &__element {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;

    &_active {
      border-bottom: 1px solid #59a781;
    }
  }
}
