$menu-border-bottom-color: #353b42;

.nav {
  display: flex;
  flex-wrap: wrap;
  line-height: 30px;
  font-size: 1.0em;
  border-bottom: 1px solid $menu-border-bottom-color;
  letter-spacing: 1px;
  padding-right: 30px;

  &__element {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;


    &_active {
      border-bottom: 1px solid #59a781;
    }
  }
}
