$border-langs-color: #3d444c;
$border-section-color: #353b42;
$selected-color: #59a781;

.capabilities {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;

  &__section-title {
    color: #666;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5%;
    border-bottom: 1px solid $border-section-color;
    width: 95%;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 20px;
  }

  &__setup {
    width: 200px;
    margin-right: 30px;
  }

  &__lang-selector {
    height: 200px;
    margin-left: 50px;
    margin-top: 20px;
  }

}

pre.hljs, code.hljs {
  font-family: monospace, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  background: inherit;
}

.capabilities-langs {
  border-left: 1px dashed $border-langs-color;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.capabilities-lang {
  color: #fff;
  padding: 10px;
  text-transform: capitalize;
  line-height: 20px;
  border-left: 3px solid $border-langs-color;
  cursor: pointer;
  transition: border-color 0.2s ease-out 0s;

  &_active {
    border-left-color: $selected-color;
  }
}
