$border-stats-color: #3d444c;
$border-section-color: #353b42;

.stats {
  height: 200px;
  width: 100%;
  min-width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 40px;

  &__section-title {
    color: #666;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5%;
    border-bottom: 1px solid $border-section-color;
    width: 95%;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 20px;
  }


  &__quota {
    border-right: 1px dashed $border-stats-color;
    margin-right: 10px;
  }
}
